.popup-content {  
    margin: auto;  
    background: rgb(72, 69, 223); 
    width: 58%;  
    height: 73%;
    padding: 5px;
    border:5px #fff ;
    border-radius: 6px;
    /*opacity: 80%;*/

    }

.modal {  
    font-size: 12px;
}

.modal > .header {  
    width: 100%;  
    border-bottom: 1px solid gray;  
    font-size: 18px;  
    text-align: center;  
    padding: 5px;
}

.modal > .close {  
    cursor: pointer;  
    position: absolute;  
    display: block;  
    padding: 2px 5px;  
    line-height: 20px;  
    right: -10px;  
    top: -10px;  
    font-size: 24px;  
    background: #ffffff;  
    border-radius: 18px;  
    border: 1px solid #cfcece;}

.popupBtn {
    padding: 5px 5px;
    font-size: 1.1rem;
    color: #444;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
}


.button {
    height: 120px;
    width: 240px;
    border-radius: 6px;
    position: center;
    margin: 8px 8px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    
}

btn9{
    font-size: 40px;
}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}